
<div class="container mt-3"> 
    <div class="card">
        <div class="card">
            <div class="card-header bg-success text-white">
                GESTION DEPARTEMENT
            </div>
        <div class="card-body">
            <form action="">
                <div class="form-group">
                    <label for="">faculter:</label>
                    <input type="text" name="faculte"  [(ngModel)]="new_departement.faculte" required autofocus class="form-control">
                </div>

                <div class="form-group">
                    <label for="">chef_departement:</label>
                    <input type="text" name="chef_departement"  [(ngModel)]="new_departement.chef_departement" required autofocus id="" class="form-control" >
                </div>

                <p></p>
                <div class="">
                    <button type="button" class="btn btn-info" (click)="envoyer()"> envoyer</button><br><br>
                    <a  class="btn btn-success" [routerLink]="['/liste-depart']">LISTER</a>
                    <a  class="btn btn-warning" [routerLink]="['/listecandidat']">OUVRIRE LISTE CONDIDAT</a>
                    <a  class="btn btn-danger" [routerLink]="['/filiere']">AJOUTER FILIERE</a>
            </div>
            </form>
        </div>
</div>
</div>


