<div class="container mt-3">
    <div class="card">
        <div class="card">
            <div class="card-header bg-success text-white">
                GESTION CAISSIER
            </div>
            <div class="card-body">

                <form action="">
                    <div class="form-group">
                        <label for="">Nom:</label>
                        <input type="text" name="nom" [(ngModel)]="new_filiere.nom" required autofocus
                            class="form-control">
                    </div>


                    <div class="form-group">
                        <label for="">Code departement:</label>
                        <select name="iddepart" [(ngModel)]="new_filiere.iddepart" required autofocus
                            class="form-control">
                            <option *ngFor="let un_departement of les_departements" [value]="un_departement.iddepart">
                                {{un_departement.faculte}}
                            </option>
                        </select>
                    </div>


                    <p></p>
                    <div class="">
                        <button type="button" class="btn btn-info" (click)="envoyer()"> envoyer</button>
                        <a class="btn btn-warning" [routerLink]="['/liste-filiere']">LISTER</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>