<div class="container mt-3">
    <div class="card">
        <div class="card-header bg-success text-white">
            LISTE DES DEPARTEMET
        </div>
<div class="center">
    <div *ngFor="let un_departements of les_departements" class="">
        <table class="table table-striped">
            <thead class="text-uppercase bg-info">

                <tr class="text-white">
                    <th>IDDEPARTEMET</th>
                    <th>NOM </th>
                    <td>CHEF_DEPARTEMENT</td>

                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="table-white">{{un_departements.iddepart}}</td>
                    <td class="table-white">{{un_departements.faculte}}</td>
                    <td class="table-white">{{un_departements.chef_departement}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<a class="btn btn-success" [routerLink]="['/departement']">RETOUR</a>